body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #333;
	line-height: 1.2em;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 5px;
	font-family: 'Montserrat', Arial, sans-serif;
}

header {
	margin: 0;
	padding: 0;
	grid-column: 1/ -1;
}

nav {
	margin: 0;
	background-color: #3c3c3c;
	height: 8%;
}

nav a {
	color: #efefef;
	text-decoration: none;

}

/* ====================== Map ====================== */
#map {
  height: 40vh;
  width: 100%;
  background-color: #ccc;
}
